html, body {
    min-width: 320px;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;;
    font-size: 14px;
    line-height: 20px;
    color: #000000;

    background-color: #E5E5E5;
}
.main-container {
    width: 100%;
    margin: 0 auto;

    background-color: #ffffff;
}
.page-header {
    margin: 0 0 10px;
    padding: 30px 0 40px;

    text-align: center;

    background-color: #C4C4C4;
}
.page-header__text {
    margin: 0;
    padding: 0;

    font-size: 24px;
}
.page-main {
    display: flex;
    flex-wrap: wrap;
}
.staff {
    flex-grow: 2;

    width: 155px;
    margin: 0 10px 10px 0;
    padding: 120px 15px 15px 15px;
    box-sizing: border-box;

    background-color: #E8EBED;
}
.staff__text {
    margin: 0;
    padding: 0;
}
.enlightenment {
    display: flex;
    align-items: flex-end;
    flex-grow: 2;
    
    width: 155px;
    margin: 0 0 10px;
    padding: 100px 15px 15px;
    box-sizing: border-box;

    background-color: #E8EBED;
}
.enlightenment__text {
    margin: 0;
    padding: 0;
}
.conformism {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;

    width: 100%;
    margin: 0 0 10px;
    padding: 120px 15px 15px;
    box-sizing: border-box;

    background-color: #E8EBED;
}
.conformism__text {
    margin: 0;
    padding: 0;
}
.introjection {
    flex-grow: 2;

    width: 155px;
    min-width: 40%;
    margin: 0 10px 10px 0;
    padding: 120px 15px 15px;
    box-sizing: border-box;

    background-color: #90BCE8;
}
.introjection__text {
    margin: 0;
    padding: 0;
}
.staff--orange {
    min-width: 40%;
    margin: 0 0 10px;
    background-color: #FEBF26;
}
.modernization {
    display: none;   
}
.modernization__text {
    margin: 0;
    padding: 0;
}
.staff--changed {
    display: none;
}
.staff--changed__text {
    margin: 0;
    padding: 0;
}
.contact-information {
    display: none;
}
.jainism {
    width: 65.98vw;
    height: 65.98vw;
    margin: 0 6.6px 10px 0;
    padding: 19.78px 10px 2px 10px;
    box-sizing: border-box;
    overflow-y: scroll;

    background-color: #A2A9B7;
}
.jainism__text {
    margin: 0;
    padding: 0;
    text-align: center;

    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
}
.second-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 2;

    width: 102.25px;
}
.feel {
    display: flex;
    align-items: flex-end;
    flex-grow: 2;

    margin: 0 0 6.57px;
    padding: 52px 10px 10px;
    box-sizing: border-box;

    background-color: #A2A9B7;
}
.feel__text {
    margin: 0;
    padding: 0;

    color: #ffffff;
}
.moreno {
    display: flex;
    align-items: flex-end;
    flex-grow: 2;

    margin: 0 0 10px;
    padding: 72.25px 10px 10px;
    box-sizing: border-box;

    background-color: #A2A9B7;
}
.moreno__text {
    margin: 0;
    padding: 0;

    color: #ffffff;
}
.however {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;

    width: 100%;
    margin: 0 0 10px;
    padding: 120px 15px 15px;
    box-sizing: border-box;

    background-color: #FFAA87;
}
.however__text {
    margin: 0;
    padding: 0;
}
.point {
    flex-grow: 2;

    width: 155px;
    min-width: 45%;
    margin: 0 10px 10px 0;
    padding: 120px 15px 15px;
    box-sizing: border-box;

    background-color: #FFAA87;
}
.point__text {
    margin: 0;
    padding: 0;
}
.length {
    flex-grow: 2;

    width: 155px;
    min-width: 45%;
    margin: 0 0 10px;
    padding: 120px 15px 15px;
    box-sizing: border-box;

    background-color: #C7ABD4;
}
.length__text {
    margin: 0;
    padding: 0;
}
.lead {
    flex-grow: 2;

    width: 155px;
    margin: 0 10px 10px 0;
    padding: 120px 15px 15px;
    box-sizing: border-box;

    background-color: #FFAA87;
}
.lead__text {
    margin: 0;
    padding: 0;
}
.genius {
    display: flex;
    align-items: flex-end;
    flex-grow: 2;

    width: 155px;
    margin: 0 0 10px;
    padding: 100px 15px 15px;
    box-sizing: border-box;

    background-color: #F55E62;
}
.genius__text {
    margin: 0;
    padding: 0;
}
.page-footer {
    margin: 0;
    padding: 35px 0;

    text-align: center;

    background-color: #C4C4C4;
}
.page-footer__text {
    margin: 0;
    padding: 0;

    font-size: 24px;
}
@media (min-width: 481px) {
    .page-main {
        padding: 0 12px 0 13px;
    }
    .jainism {
        max-width: 492px;
        max-height: 492px;
        margin: 0 10px 10px 0;
        padding: 30px 46px 0 25px;
        overflow-y: auto;
    }
    
    .feel { 
        margin: 0 0 10px;
        padding: 15px 15px 15px;
    }
    .moreno {
        margin: 0 0 10px;
        padding: 15px 15px 15px;
    }
    .staff {
        flex-grow: 1;
        order: 3;

        width: 145.33px;
    }
    .enlightenment {
        flex-grow: 1;
        order: 4;
        
        width: 145.33px;
        margin: 0 10px 10px 0;
        padding: 100px 15px 15px;
    }
    .introjection {
        flex-grow: 1;
        order: 5;
        
        width: 145.33px;
        min-width: auto;
        margin: 0 0 10px 0;
    }
    .conformism {
        flex-grow: 2;
        order: 6;

        width: 300.66px;
        min-width: 62.6%;
        margin: 0 10px 10px 0;
    }
    .staff--orange {
        order: 7;

        min-width: 30.27%;
    }
    .first-container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        flex-grow: 2;
        order: 8;
        
        width: 102.25px; 
        margin: 0 10px 10px 0;    
    }
    .modernization {
        display: flex;
        align-items: flex-end;
        flex-grow: 2;

        margin: 0 0 10px;
        padding: 15px 15px 15px;

        background-color: #E3EBD3;
    }
    .staff--changed {
        display: flex;
        align-items: flex-end;
        flex-grow: 2;
        
        width: auto;
        margin: 0;
        padding: 15px 15px 15px;

        color: #ffffff;
        background-image: url("img/image.jpg");
    }
    .staff--changed:hover {
        filter: blur(5px);
        cursor: pointer;
    }
    .contact-information {
        display: block;
        order: 9;

        width: 65.98vw;
        height: 65.98vw;
        max-width: 492px;
        max-height: 492px;
        margin: 0 0 10px;
        padding: 15px 15px 0;
        box-sizing: border-box;

        background-color: #E3EBD3;
    }
    .contact-information__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 0 30px;
        padding: 0;
        border-bottom: 1px dashed black;
    }
    .contact-information__data {
        position: relative;
        max-width: 210px;
        bottom: -7px;
        vertical-align: bottom;
    }
    .contact-information__data--2 {
        position: relative;
        max-width: 131px;        
        bottom: -7px;
        text-align: end;
    }
    .contact-information__span {
        padding-right: 10px;
        background-color: #E3EBD3;
    }
    .contact-information__span--2 {
        padding-left: 10px;
        padding-right: 0px;
    }

    .lead {
        flex-grow: 1;
        order: 10;

        width: 145.33px; 
        min-width: 30.27%;      
    }
    .however {
        flex-grow: 2;
        order: 11;

        width: 300.66px;
        min-width: 62.6%;
        margin: 0 0 10px;
    }
    .genius {
        flex-grow: 1;
        order: 12;

        width: 145.33px;
        margin: 0 10px 10px 0;
    }
    .point {
        flex-grow: 1;
        order: 13;

        width: 145.33px;
        min-width: auto;
        margin: 0 10px 10px 0;
    }
    .length {
        flex-grow: 1;
        order: 14;

        width: 145.33px;
        min-width: auto;
        margin: 0 0 10px;
    }
    
}
@media (min-width: 768px) {
    .main-container {
        width: 768px;
        margin: 0 auto;
    }
}
